# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build artifacts
/bin/
/obj/
/vendor/

# Environment variables
.env

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Temporary files
*~